#include "resources.h"

IDR_MAINMENU MENU
BEGIN
POPUP "&Game"
BEGIN
MENUITEM "&New Game\tCtrl+N", ID_MENU_NEW_GAME
MENUITEM "&Pause Game\tCtrl+P", ID_MENU_PAUSE, GRAYED
MENUITEM "&End Game\tCtrl+E", ID_MENU_END_GAME, GRAYED
MENUITEM SEPARATOR
MENUITEM "E&xit\tAlt+F4", ID_MENU_EXIT
END

POPUP "&Options"
BEGIN
MENUITEM "&Help", ID_MENU_HELP
MENUITEM SEPARATOR
MENUITEM "High &Scores", ID_MENU_HIGH_SCORES, GRAYED
MENUITEM L"&Reset Scores\x2026", ID_MENU_RESET_SCORES, GRAYED
MENUITEM SEPARATOR
MENUITEM "&About %1", ID_MENU_ABOUT, GRAYED
END
END

ID_MENU_ACCELERATORS ACCELERATORS
BEGIN
    "N", ID_MENU_NEW_GAME, CONTROL, VIRTKEY
END
